* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

main {
    display: flex;
    min-height: 100vh;
}

.side {
    background-color: #302043;
    width: 260px;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.title {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
}

#list {
    font-size: 25px;
}

.search-container {
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 30px;
}

#search-icon {
    font-size: 22px;
}

#search {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    font-size: 1rem;
}

#search::placeholder {
    color: #fff;
    font-weight: 500;
}

.form-container {
    padding: 40px 25px;
}

.form-container h4 {
    margin-bottom: 25px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form input,
form select {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
}

form button {
    padding: 12px;
    background-color: #d15aa8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.right-container {
    flex: 1;
    background-color: #f1f1f1;
}